<h2>Code snippets</h2>

<form method="post" action="/new/">
  <button type="submit">Create a snippet</button>
</form>

<table>
  <thead>
    <tr>
      <th>Snippet</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody>
    {{#if viewData.snippets.length}}
    {{#each viewData.snippets}}
    <tr>
        <td>{{this.snippet}}</td> 
        <td>{{this.createdAt}}</td>
        <td>{{this.usernameId}}</td>
        <td><form method="post" action="/placeholder/{{this.id}}/">
          <button type="submit">Delete</button>
        </form></td>
        <td><form method="post" action="/placeholder/{{this.id}}/">
          <button type="submit">Edit</button>
        </form></td>
    </tr>
    {{/each}}
    {{else}}
    <tr>
      <td>No snippets have been created.</td>
    </tr>
  {{/if}}
  </tbody>
</table>